body{
	font-family:times new roman;
	font-size:17px;
	padding: 20px;	
	height:80;
}
body hr{
	margin-top:3%;
	margin-bottom:3%;
	width:80%;
	border:1px solid grey;
}
.header{
	border-radius: 5px;
}
.header h2{
	text-align:center;
}
.header .nav-bar{
	margin-left:20%;
	margin-right:20%;
}
.header .nav-bar a{
	display:inline-block;
	text-decoration:none;
	width:15%;
	height:22px;
	text-align:center;
	padding-top:3px;
	background-color: purple;
	color:white;
	border: 1px solid purple;
	border-radius: 15px;
	cursor: pointer;		
}
.header .nav-bar .back-button{
	float:right;
	margin-right:10%;
	width:15%;
	height:26px;
	text-align:center;
	color:white;
	border-radius: 15px;
	cursor: pointer;		
	background-color: green;
	border: 1px solid green;
}
.body h3{
	color:red;
}
.body{
	margin-left:40%;
	margin-right:20%;
}
.body table{
	margin-left:-30%;
}
.body table tr td{
	padding:15px;
}
.body form table{
	margin-left:1%;
	margin-right:40%;
}
.body form input[type="submit"]{
	width:100%;
	height:25px;
	background-color: grey;
	color:white;
	border: 1px solid grey;
	border-radius: 15px;
	cursor: pointer;	
} 
.body table tr td a{
	display:block;
	text-decoration:none;
	width:150px;
	text-align:center;
	color:white;
	border: 1px solid purple;
	border-radius: 15px;
	background-color: purple;	
}
.body .tbl-users tr td a{
	display:block;
	margin-bottom:5px;
	text-decoration:none;
	width:100px;
	text-align:center;
	color:white;
	border: 1px solid grey;
	border-radius: 15px;
	background-color: grey;	
}
.footer{
  
}
.footer p{
	font-size:18px;
	text-align:center;
}